* {
  font-family: monospace;
  box-sizing: border-box;
  padding: 0.5em;
}

p {
  font-size: 14px;
}

a {
  color: black;
}

.dark-mode {
  background-color: black;
  color: white;
}

.card-img {
  max-width: 350px;
  max-height: 350px;
}

.thumbnail {
  max-width: 65%;
}

.no-link-deco {
  text-decoration: none;
}

.container {
  display: inline-flex;
  max-width: 100%;
}

.card {
  width: 100%;
}
